.content {
    width: 40vw;
    border: solid 1px black;
    margin: 10px 20px;
}
.heading{
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(225, 65, 118);
    height: 10vh;
}

.rendering{
    width: 40vw;
    height: 600px;
    border: solid 1px black;
    margin: 10px 20px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr ;
}

#main{
    display: flex;
    justify-content: space-around ;
}
.form{
    width: 30vw;
    margin: 7px auto;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.inputs > div{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.header{
    text-align: center;
    margin: 3px 0;
}
.inputfield{
    width: 100%;
    padding: 8px;
    margin-bottom: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.subbtn{
    font-size: 15px;
    padding: 6px;
    border: solid 1px black;
    color: #0e0a0a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}