.header1{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: gray;
}
#name, .subhead{
    vertical-align: middle;
    text-align: center;
}

.personalarea , .educationarea , .experiencearea {
    padding: 5px;
}

.personalarea{
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: pink;
}
.educationarea{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: aqua;
}
.experiencearea{
    background-color: blue;
}