.header1{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: rgb(10, 10, 10);
    color: white;
}
#name, .subhead{
    vertical-align: middle;
    text-align: center;
}

.personalarea , .educationarea , .experiencearea {
    padding: 5px;
}

.personalarea{
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: rgb(69, 69, 69);
}
.educationarea{
    grid-column: 2/3;
    grid-row: 2/3;
}
